body {
    font-family: "IBM-Plex-Sans";
    font-weight: 700;
    text-align: center;
    height:100vh;
    flex-direction: column;
    z-index: -2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #27311C;
}

h1{
    font-family: "lunatix";
    display: flex;
    font-size: 5rem;
    display: inline-block;
    pointer-events: none;
    z-index: 6;
    margin-bottom: 0;
    margin-top: 4%;
}

p{
    font-weight: 700;
    font-size: 1.2rem;
    display: flex;
    margin: 0 auto;
    margin-top: 0.6%;
    text-align: center;
    width: 37%;
    min-width: 350px;
    pointer-events: none;
    z-index: 6;
}

#button {
    color: #27311C;
    display: flex;
    z-index: 6;
    margin-top: 30px;
    padding: 10px 20px;
    font-family: "IBM-Plex-Sans";
    border-radius: 8px;
    border: none;
    background-color: #D9DBDE;
}

#button:hover {
    background-color: #A4A554;
  }

/*#sketch-js{
    border: 2px solid red;
   
}*/

footer{
    font-size: 0.85rem;
    width: 35%;
    display: flex;
    margin-top: 2%;
    margin: 0 auto;
    position: absolute;
    font-weight: 400;
    bottom: 10px;
    z-index: 6;
    line-height: 1.2;
}

#sliderRed{
    display: flex;
    height: 30px;
    position: absolute;
    margin: 0 auto;
    bottom: 14%;
    z-index: 6;
}

#sliderGreen{
    display: flex;
    height: 30px;
    position: absolute;
    margin: 0 auto;
    bottom: 11%;
    z-index: 6;
}

#sliderBlue{
    display: flex;
    height: 30px;
    position: absolute;
    margin: 0 auto;
    bottom: 8%;
    z-index: 6;
}

 
